.search-container{
    display: flex;
    position: relative;
}
.web-search-icon{
    cursor: pointer;
    position: absolute;
    margin: 0 10px;
    z-index: 1;
}
#search-input{
    background: #1A2536;
    border-radius: 8px;
    border: none;
    font-size: 21px;
    padding: 15px 50px;
    width: 100%;
}
#search-input:focus{
    outline: none;
    border: none;
}
.search-input-container{
    width: 600px;
    position: relative;
}
.close-icon{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.search-container svg{
    font-size: 2rem !important;
}
@media screen and (max-width: 600px) {
    .search-input-container,.search-container{
        width: 100%;
    }
}